.main-heading { 
    color: white;
    font-family: serif;
  font-style : italic; 
}

a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
div {
  border: 1px solid black;
   outline: #f7e268 solid 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 50px;
  margin-left: 50px;
  background-color: lightblue;
   padding: 25px;
}
a:hover, a:active {
  background-color: red;
}

body {
    color: black;
}
  
blockquote {
    background-color: #ebf0a8;
    border: 2px solid black;
     padding: 25px;
}
 h1 {
text-align:center;
background-color: #727678;
font-size:200%;
text-decoration: overline;
text-shadow: 2px 2px 5px red;
}
h2 {
text-align:left;
background-color: #ebf0a;
font-size:100%;
text-decoration: underline;
}
.box {
  background-image: url(image.jpg);
  background-repeat: no-repeat;
  background-size: 1500px 40em;
}  
iframe {
border:2px solid red;
align : center;

  display: inline;

}

p {
  text-indent: 50px;
  letter-spacing: 1 px;
}
